[2015-08-02 18:54] plribeiro3000 opened #4 "add missing vol-delete feature"
The following `irb` session shows the missing feature:

[code]

Running `virsh` directly on the same setup, works fine:

[code]

Original issue reported by @noushi at fog/fog#2859

cc/ @noushi @geemus

[2015-08-02 18:56] plribeiro3000 opened #5 "lxc support"
Hello, I've had a quick look at getting lxc support in the libvirt driver. I'm no programmer, and have no experience with ruby. With the following changes I was able to create a lxc container using the libvirt driver.

I would like to see lxc support in some fashion in the libvirt driver, hope this can help that happen.

[code]

[code]

Original issue opened by @selund at fog/fog#3221

cc/ @selund

[2015-08-02 18:59] plribeiro3000 opened #6 "hugepages support"
Hi,

Would it be possible to optionally enable `hugepages` support for the libvirt driver? This could default to `false`, but having an option to enable it when creating the VM would be great.

When enabled, the `server.xml` template would have:

[code]

Enabling hugepages support on a Linux system requires a few steps, but I'm guessing documenting them would be outside of fog's scope.

Thank you.

[2015-08-02 19:00] plribeiro3000 opened #7 "autostart support for servers"
Hi,

There is an `autostart` attribute in the server model for libvirt. However, I don't see where this attribute could be enabled when creating a VM. I don't know libvirt's API, but it seems there's a [separate method](https://libvirt.org/html/libvirt-libvirt-domain.html#virDomainSetAutostart) to call when enabling `autostart`.

Is it currently possible to enable `autostart` when creating a VM wi

[2015-08-06 17:13] eolamey commented on #6
Hi,

I am no longer needing this, should this issue be closed?

[2015-08-06 17:13] eolamey commented on #7
Hi,

I am no longer needing this, should this issue be closed?

[2015-08-06 17:16] plribeiro3000 commented on #6
Hey @eolamey. Thank you for the feedback but i believe those issues could live here a little longer. Now that we have a small repository it should be easier to add those features. =)

Thanks!

[2015-08-06 17:16] plribeiro3000 commented on #7
Hey @eolamey. Thank you for the feedback but i believe those issues could live here a little longer. Now that we have a small repository it should be easier to add those features. =)

Thanks!

[2015-08-21 13:29] strzibny commented on #4
Note that running `client.volumes.select { |v| v.key == '/var/lib/libvirt/images/box.img' }[0].destroy` should work.

[2015-08-21 14:52] plribeiro3000 commented on #4
@strzibny You this is not an issue? Or you just added more context to it?

[2015-08-22 08:40] strzibny commented on #4
I think that original name of the issue is not accurate, because the feature is there. So perhaps we just want to have it available on top of Fog's volumes collection.

[2015-09-01 14:42] danielshahaf opened #8 "Use libvirt DHCP leases API"
Fog::Compute::Libvirt::Server#addresses [runs an external shell command](https://github.com/fog/fog-libvirt/blob/e7fa6c2409cf2e740d9e7056ea013f5914a90a13/lib/fog/libvirt/models/compute/server.rb#L311) to determine the IP address of a VM that has a given MAC address. The implementation assumes libvirtd runs on localhost or can be SSHed to; it ignores other cases, such as a TCP transport. Please use

[2015-09-01 14:48] danielshahaf commented on #8
A few random bits of background:

- Using that API should also remove the [dependency on arpwatch](https://github.com/fog/fog-libvirt/blob/e7fa6c2409cf2e740d9e7056ea013f5914a90a13/lib/fog/libvirt/models/compute/README.md#ip-addresses-of-guests).

- The `dhcp_leases` method does not appear in the latest ruby-libvirt release, 0.5.2; it's only in git master.

- This was initially reported as https://

[2015-11-23 14:12] domcleal commented on #8
0.6.0 has been released now with the dhcp_leases API.

[2015-12-16 18:01] jlory opened #10 "Is it possible to specify the boot order for NIC?"
I looked at the source code but it seems that it's not possible to specify the boot order for PXE when you have multiple NICs?

See the libvirt doc:

https://libvirt.org/formatdomain.html#elementsNICSBoot

[2015-12-18 12:38] plribeiro3000 commented on #10
@strzibny Any ideas on this?

[2015-12-18 20:51] strzibny commented on #10
Right now I have no clue, I would have to take a closer look.

[2016-01-07 17:14] dcbw commented on #8
PR coming up.  However, even ruby-libvirt 0.6.0 has a bug in the DHCP leases support that causes a crash.  See https://www.redhat.com/archives/libvir-list/2016-January/msg00147.html for the fix.

[2016-01-07 18:23] dcbw commented on #8
See https://github.com/fog/fog-libvirt/pull/11

[2016-01-28 13:05] electrofelix opened #12 "Cannot list inactive pools"
https://github.com/fog/fog-libvirt/blob/master/lib/fog/libvirt/requests/compute/list_pools.rb#L30 makes a call to get the num_of_volumes, however for inactive pools this will throw an exception in pool_to_attrbiutes that gets swallowed by either find_pool_by_name or find_pool_by_uuid.

I installed the gem, created a new pool in libvirt using virt-manager or virsh. Next I deactived the pool and ran

[2016-02-16 20:41] arielsalvo opened #13 "Call to virStorageVolGetInfo failed: possible race condition"
Hi!

I just run into this problem:

[code]

If you notice that the error is regarding a volume for a completely different instance you may arrive at the same conclusion I did.
I believe this is a race condition caused by bringing up two different instances at the same time that causes lib/fog/libvirt/requests/compute/list_volumes.rb:32 to try to stat the non-existant image file that the other inst

[2016-02-17 18:55] arielsalvo commented on #13
I just opened PR #14 for this issue.

I got a similar race condition in the list_domains.rb file

       Bringing machine 'default' up with 'libvirt' provider...
       /var/lib/jenkins/.vagrant.d/gems/gems/fog-libvirt-0.0.4.pre.1/lib/fog/libvirt/requests/compute/list_domains.rb:66:in `xml_desc': Call to virDomainGetXMLDesc failed: Domain not found: no domain with matching uuid '2f2b986e-7504-4ebd

[2016-03-03 02:12] #8 closed

[2016-03-05 16:49] alberts opened #16 "vagrant up fails with fog-libvirt 0.0.4, works with 0.0.3"
Running Fedora 23 (fully updated) with vagrant-libvirt 0.0.32 and fog-libvirt 0.0.4. My vagrant ups are failing with:

[code]

I happened to have another vagrant setup with fog-libvirt 0.0.3 and that works fine.

[2016-03-06 20:00] 14msitaqadeer commented on #16
Albert thanks for opening this issue, i think we are first to hit this issue, could you please guide me how to degrade to fog-libvirt 0.0.3 ? will be obliged

[2016-03-06 22:46] dustymabe commented on #16
I can confirm I also have the issue for 0.0.4 and moving to 0.0.3 fixes the problem.

[2016-03-07 09:15] strzibny commented on #16
This seems to be the change causing the error: https://github.com/fog/fog-libvirt/commit/21d1b71cc2533fa5892a1a0bba9147ab2e2dca72.

It says it requires `ruby-libvirt` 0.6.0 but does not bump the requirement. Can you try with `ruby-libvirt` 0.6.0?

@dcbw comments?

[2016-03-07 10:21] 14msitaqadeer commented on #16
problem solved, it was with newer version of fog-libvirt 0.0.4.......reverting it back to 0.0.3 solved my problem.

[2016-03-07 12:12] dancn commented on #16
To downgrade the plugin I did (on debian/jessie):

/usr/bin/ruby2.1 /usr/lib/ruby/vendor_ruby/vagrant/pre-rubygems.rb plugin install --plugin-version 0.0.3 fog-libvirt

It seems that "vagrant plugin install plugin plugin-name" does not support the specification of plugin version, at least in vagrant 1.6.5.

[2016-03-07 12:45] wohlben commented on #16
can confirm on opsensuse Leap,
vagrant plugin install --plugin-version 0.0.3 fog-libvirt
fixed it for me as well

[2016-03-07 14:07] strzibny commented on #16
@dancn @wohlben can you perhaps help to debug the issue and tell me if the pointed commit is to blame or not? Downgrading is not fixing. If this is serious problem I can yank the release for others.

[2016-03-07 14:34] dancn commented on #16
@strzibny sure, but I do not know how to bisect vagrant plugins using the source.
I tried with

[code]

but the error seems the the same.

Please provide some instruction. Thanks.

[2016-03-07 15:35] plribeiro3000 commented on #16
Do we know where is the issue?
Fixing it would be better then `yank`. it is always a mess when we play with `yank`.

[2016-03-07 17:16] sford commented on #16
Hey guys,

I have confirmed that commit 21d1b71c appears to be causing these problems.

I checked out the latest fog-libvirt code. I did a `git revert 21d1b71cc2533fa5892a1a0bba9147ab2e2dca72`, bumped the version, made a release, and installed it into vagrant's gem directory, `gem install fog-libvirt-0.0.5.gem -i ~/.vagrant.d/gems`. After that, I no longer get the libvirt_uri error.

Unfortunately

[2016-03-07 17:19] sford commented on #16
Also, to answer @strzibny 's question, I am testing with `ruby-libvirt` 0.6.0:

[code]

[2016-03-07 17:57] dcbw commented on #16
You need at least vagrant-libvirt 0.6.0 *plus* http://libvirt.org/git/?p=ruby-libvirt.git;a=commit;h=c2d4192ebf28b8030b753b715a72f0cdf725d313 .  Do you have that commit in your vagrant-libvirt?

[2016-03-07 18:42] sford commented on #16
@dcbw , is this problem occurring because we are using `ruby-libvirt` 0.6.0 that doesn't contain the commit that you are referring to?

[2016-03-07 19:24] dcbw commented on #16
@sford yes, that is my current theory.  ruby-libvirt 0.6.0 is not quite new enough.  I will try to request a new upstream release.

[2016-03-08 22:52] dcbw commented on #16
If you're hitting this, do you have a ~/.fog file and if so what's in it?

[2016-03-09 00:22] sford commented on #16
Nope, I don't have a `~/.fog` file. The majority of people are probably hitting this when fog is used by another library. In this case, `vagrant-libvirt`, where fog is being configure programmatically (rather than requiring the user to create a `~/.fog` file).

[2016-03-09 14:45] dcbw commented on #16
I can reproduce now, the ~/.fog I was using while developing the original patch was likely covering up the issue for me.

[2016-03-09 15:11] budhrg commented on #16
Hi Folks,

I am also hitting this issue. Any solution?

[2016-03-09 15:13] dcbw commented on #16
A quick workaround is to add a ~/.fog file with something like:

default:
  libvirt_uri: "qemu:///system?no_verify=1"

[2016-03-09 15:39] budhrg commented on #16
@dcbw : Adding `~/.fog` is not working for me.

However, this `vagrant plugin install --plugin-version 0.0.3 fog-libvirt` does work.

[2016-03-09 21:19] dcbw commented on #16
@budhrg can you make the change in https://github.com/fog/fog-libvirt/pull/17 and see if that fixes it for you?

[2016-03-11 13:24] rski opened #18 "Support for cpu mode"
Hi,

I'd like to be able to set the cpu mode on my VMs on creation, but fog-libvirt doesn't seem to currently support this. This would require adding a line like that can render to `<cpu mode='something'/>` to `fog-libvirt/lib/fog/libvirt/models/compute/templates/server.xml.erb`, along with other things.

Is this the right place to look for a feature like this? If yes, would it be ok if I hacked o

[2016-03-13 23:23] bcambl commented on #16
@dcbw applying #17 does get me further:
[code]
[code]

I have also applied the the following ruby-libvirt patch with the same error above.
http://libvirt.org/git/?p=ruby-libvirt.git;a=commit;h=c2d4192ebf28b8030b753b715a72f0cdf725d313

[2016-03-16 01:10] sford commented on #16
@dcbw any traction with a new ruby-libvirt release or #17?

Some projects (https://github.com/pradels/vagrant-libvirt/pull/569) are pinning fog-libvirt to an older version which makes it harder for them to take advantage of other fog-libvirt improvements (#15).

[2016-03-16 14:56] arielsalvo commented on #13
I see that PR #15 would fix the list_domains issues. Testing now

[2016-03-22 16:53] dcbw commented on #16
@bcambl that error means that the ruby-libvirt patch was not successfully applied, or the rebuilt ruby-libvirt isn't acutally being used.  I know, I had the same problem and there was a stale ruby-libvirt in ~/.gems but the patched one was in /usr/share/gems.  I had to remove the ~/.gems one to get things working.

[2016-03-22 16:54] dcbw commented on #16
@sford no response in a couple weeks from upstream ruby-libvirt, I'll ping them again.

[2016-03-29 22:22] bcambl commented on #16
@dcbw you are correct, I had something stale.

All is well with fog-libvirt 0.0.4 + #17 and the latest ruby-libvirt:
[code]

[2016-03-30 17:28] #16 closed

[2016-05-09 13:27] fred-a-kemp opened #21 "Allow floppy disks in boot order"
At the moment we'll abort with an error if some domain exists and has `fd` in its boot order.

[2016-05-09 18:18] plribeiro3000 commented on #21
@fred-a-kemp Can you specify this a little better? I'm afraid i'm not actually following the idea.

[2016-05-10 11:23] fred-a-kemp commented on #21
Sorry for being so vague! Please read the ticket description here for some details and context: https://labs.riseup.net/code/issues/11155

Basically what we have seen is that just having a domain defined that has a floppy disk in its boot order through the `<os>` element is enough to make fog-libvirt (at least as used by vagrant-libvirt) error out. For instance, a domain with something like this i

[2016-05-10 19:47] plribeiro3000 commented on #21
Got it. I would say that a validation on `fog-libvirt` side should not do any harm. =)

Open a PR so we can see about it. =)

[2016-05-12 09:24] fred-a-kemp commented on #21
Done!

[2016-06-01 18:46] #21 closed

[2016-09-12 10:42] lemrouch opened #24 "Support for hostdev mode network"
Hi,
I have libvirt network with hostdev mode (pool of virtual NICs on PCI-E) and server is managed by Foreman.
This type of network seems to be unsupported by fog-libvirt.

&lt;network&gt;
  &lt;name&gt;pf-eth0&lt;/name&gt;
  &lt;uuid&gt;0ae0eb24-d0d9-4a02-942e-d245c77e12ba&lt;/uuid&gt;
  &lt;forward mode='hostdev' managed='yes'&gt;
    &lt;driver name='vfio'/&gt;
    &lt;pf dev='eth0'/&gt;
  &lt;

[2016-09-13 00:05] plribeiro3000 commented on #24
Hello @lemrouch. I'm afraid we might be out of hands now.
Would you be able to submit a PR?

[2016-10-12 13:43] infernix opened #27 "dhcp_leases.rb:8:in `dhcp_leases': undefined method `dhcp_leases' for #<Libvirt::Network:0x00000003ea12f0> (NoMethodError)"
`virNetworkGetDHCPLeases` isn't supported in libvirt < 1.2.6 so on distros carrying older libvirt, everything compiles but then using this call fails with above error.

This was introduced in PR #11

I think a few things could be done:
1. Start depending on a specific libvirt version (depending on just ruby-libvirt doesn't seem to be enough)
2. Test if the method exists before calling it and then

[2016-10-12 14:45] infernix opened #28 "dhcp_leases.rb:8:in `dhcp_leases': Call to virNetworkGetDHCPLeases failed: internal error: no lease with matching MAC address: 52:54:00:32:36:b7 (Libvirt::Error)"
When calling `dhcp_leases` with a mac that does not exist, libvirt throws an error.

[code]

vagrant-libvirt calls `def addresses` in a while loop, waiting for a VM to boot and retrying until an IP is returned (with an eventual timeout). Since PR #11 this fails due to a functional change.

I believe this case should be handled correctly and return `nil` for `def addresses(service_arg=service, opti

[2016-10-15 12:56] plribeiro3000 commented on #27
Hey @infernix . Thanks for the feedback.

I believe option 2 would be the best option as we don't have an active maintainer on this repo.

Would you be able to do a patch and submit a PR for this change?

[2016-10-15 12:57] plribeiro3000 commented on #28
I believe this was not intentional. Perhaps we can fix this together with #27?

[2016-10-17 10:12] infernix commented on #27
@plribeiro3000 the little time I have for coding I'm spending on vagrant-libvirt, so can't make any promises but will take a look.

[2016-10-17 10:14] plribeiro3000 commented on #27
Awesome. Thank you! :+1:

Em seg, 17 de out de 2016 08:12, Gerben Meijer <notifications@github.com>
escreveu:

[2016-10-29 12:46] mrvovanness commented on #28
I encountered the same issue, using debian 8.6 host with libvirt 1.2.9. As a temporal workaround I edited the source code, but I don't sure if this appropriate:
[code]

[2016-11-23 23:23] mmoll commented on #10
what's the status here?

[2016-11-23 23:26] jlory commented on #10
I don't use Foreman / fog-libvirt anymore, so I didn't do a follow-up on that issue.

[2017-02-10 11:22] td512 opened #34 "Port defaults to -1"
Hey all,

In `libvirt/models/compute/templates/server.xml.erb` there is an error on line 49 that's causing the port to default to `-1`

Here's the fix:

`<% if display[:port] and !(display[:port].empty?) %>port='<%= display[:port] %>' autoport='no' <% else %>port='-1' autoport='yes' <%end%>` instead of `port='<%= display[:port] %>' autoport='yes'`

I've already tested it on my local cluster, and t

[2017-02-10 11:33] plribeiro3000 commented on #34
@td512 Could you open a PR with those changes?

Thanks!

[2017-02-10 14:14] td512 opened #36 "Swapping media"
Is there a way to do this with fog-libvirt?

Cheers

[2017-02-10 14:14] td512 commented on #34
All done @plribeiro3000

[2017-02-21 15:04] plribeiro3000 commented on #34
Awesome. Thanks @td512 . =)

[2017-02-21 15:04] #34 closed

[2017-02-21 15:06] plribeiro3000 commented on #36
@strzibny Are you aware of this?

[2017-02-21 15:20] strzibny commented on #36
No I am not.

[2017-05-16 05:49] #18 closed

[2017-05-16 07:19] mmoll opened #40 "new gem release?"
It would be nice to have a new release, so projects using this gem can benefit from the fixes and enhancements.

[2017-05-16 07:33] plribeiro3000 commented on #40
Released as `0.4.0`. =)

[2017-05-16 07:33] #40 closed

[2017-05-16 08:21] mmoll commented on #40
Obrigado!

[2017-05-19 09:45] alexggolovin commented on #28
Same issue on Debian 8.8 with vagrant-libvirt (0.0.40) installed from vagrant-libvirt repository due to this workaround https://github.com/vagrant-libvirt/vagrant-libvirt/issues/770 has been fixed with workaround provided by mrvovanness

[2017-05-19 13:08] alexggolovin commented on #28
Supposed to be fixed in new Debian versions due to this reports:
[https://www.redhat.com/archives/libvir-list/2015-January/msg00055.html ](https://www.redhat.com/archives/libvir-list/2015-January/msg00055.html )
And this commit:
[https://github.com/libvirt/libvirt/commit/18ec863d19bdaf517e26642f794b7ee4d1d2c53f](https://github.com/libvirt/libvirt/commit/18ec863d19bdaf517e26642f794b7ee4d1d2c53f)

[2017-06-15 05:45] td512 opened #41 "Cloning volumes from templates when creating new VMs"
Heyo,
I was wondering if there's a way to do this. I saw there's a `volume_template_name` attr, but when I try to use it, I get `Fog::Errors::Error (Error saving the server: Error creating the volume : identity is required for this operation)`

Cheers

[2017-06-20 01:26] td512 commented on #41
@plribeiro3000 would you know if there's a way to do this, and if my hunch is correct, why I'm getting that error?

[2017-06-20 12:35] plribeiro3000 commented on #41
It should work afaik.

Could you provide the stacktrace please?

[2017-06-20 21:22] td512 commented on #41
@plribeiro3000 that could be a slight issue. This is all I have
![screenshot](https://user-images.githubusercontent.com/9508934/27356573-12528500-5663-11e7-8e0d-30dad1ace958.png)

[2017-07-04 16:30] santachago opened #42 "Operation not supported: cannot change keymap setting on vnc graphics"
Looks like libvirt doesnt support to set keymap when using vnc.

[code]

[2017-07-18 11:45] mmoll commented on #42
@santachago could you check if reverting #30 fixes that issue?

[2017-07-26 14:17] mmoll commented on #42
@tbrisker looking at #30 I don't get the whole current situation, as that was also about vnc

[2017-07-27 08:17] tbrisker commented on #42
@mmoll IIRC #30 in my case was caused by having a non-auto setting for the keymap, which was failing because fog-libvirt wasn't passing a keymap and libvirt was defaulting to auto (which was different then the existing setting and thus failed to change it). That being said, I think there may be a better solution then this. Sadly I don't have the setup I had previously to try and fix it at the mome

[2017-08-01 21:51] santachago commented on #42
If i remove line number 16 -> display[:keymap] = options[:keymap] || xml_elements(domain.xml_desc, "graphics", "keymap")

vms with no keymap defined on the config work fine. If a vm has a value defined it fails with the same error.

[2017-08-05 17:50] mmoll commented on #42
possible fix in #43

[2017-08-15 20:45] #42 closed

[2017-08-15 20:47] plribeiro3000 commented on #42
@santachago @tbrisker @mmoll Could you guys please test if master fixed the issue please?

[2017-08-20 14:55] mmoll commented on #42
I can only say it fixed it for me (which is expected as I wrote the patch ;)).

[2017-08-20 14:55] mmoll commented on #42
@santachago any update here? ☝️

[2017-08-21 03:02] plribeiro3000 commented on #42
@mmoll Thanks for the feeback. 👍

[2017-08-24 13:04] hesperaux commented on #42
Hello all,

I just updated to foreman 1.15.3. Running debian 8.9 on my foreman host, and the same on my compute hosts. I ran into this issue after updating.

I've manually patched /usr/share/foreman/vendor/ruby/2.1.0/gems/fog-libvirt-0.4.0/lib/fog/libvirt/requests/compute/update_display.rb according to https://github.com/fog/fog-libvirt/pull/43/files on my foreman install and this fixed the issue

[2017-08-24 13:08] mmoll commented on #42
I guess a 0.4.1 release would be nice then...

[2017-08-24 13:53] plribeiro3000 commented on #42
Cuting a release now. =)

[2017-08-24 14:04] plribeiro3000 commented on #42
Released as `0.4.1`. =)

[2017-11-10 13:32] brianjmurrell opened #48 "minitest/unit.rb:28:in `const_missing': uninitialized constant MiniTest::Test (NameError)"
Trying to build _fog-libvirt_ on CentOS 7, when I try to run the tests with:

```ruby -Iminitests -e "Dir.glob './minitests/**/*_test.rb', &method(:require)"```

I'm getting an error:

[code]

Any idea what that might be caused by?

[2017-11-13 18:30] plribeiro3000 commented on #48
I'm not that much into minitest so i need a little extra information from you.

Does it work if you run the rake task?

[2017-11-13 18:32] mmoll commented on #48
I guess minitest 5.x is needed.

[2017-11-13 18:33] plribeiro3000 commented on #48
@mmoll If so can we add this to the gemspec?

[2017-11-13 18:50] mmoll commented on #48
yeah, just confirmed I'm getting the same error with 4.x.

[2017-11-13 20:34] #48 closed

[2017-11-13 20:37] plribeiro3000 commented on #48
@brianjmurrell `fog-libvirt` 0.4.2 released.

Let us know if the problem is fixed. Thanks!

[2017-11-14 15:04] brianjmurrell commented on #48
While I didn't go to the effort of upgrading to 0.4.2 I can confirm that upgrading my minitest to 5.x did resolve the issue.

Thanks much!

[2018-03-21 13:59] #27 closed

[2018-05-15 15:56] rgershkovich opened #53 "Lack of macvlan/macvtap support"
Hello,

At the moment fog-libvirt knows nothing about macvlan/macvtap interfaces:
https://libvirt.org/formatnetwork.html#examplesDirect

It assumes, that the defined network should have a bridge_name:
[code]
macvtap doesn't have this parameter. So, even when macvtap is not actually used by running VMs, the fact that it's defined in libvirt on its own breaks fog-libvirt.

It would be very nice to h

[2018-05-15 16:10] plribeiro3000 commented on #53
Hello @rgershkovich . Thank you for submitting this issue.
Would you be up to open a PR adding it?

[2018-05-16 07:27] rgershkovich commented on #53
@plribeiro3000, tried to dig in the issue yesterday. I found out that _libvirt api_ (which is called in this piece via _ruby-libvirt_) is very modest in terms of available methods:
https://libvirt.org/ruby/api/Libvirt/Network.html#method-i-bridge_name

It's not possible to easily figure out which forward parameters the libvirt network uses via this api.
I see 2 options here: make **bridge_name** o

[2018-05-19 12:52] plribeiro3000 commented on #53
Hmmm. Not sure if i have all the context but i believe your first suggestion would be the way to go.
We do some check and based on it we do send the attribute or not. Makes sense?

[2018-06-05 16:13] bmagistro commented on #53
This seems to also apply to passthrough interfaces and may be related to #24 (at least with the trace there)
We got hit by this after the upgrade we did of foreman/puppet.  As a total hack, I was able to a) remove the "bridge_name" or b) set it to the uuid as a work around.

[2018-07-09 16:50] olifre opened #54 "Ceph RBD volume creation"
This has already been proposed in:
https://github.com/fog/fog/issues/3285#issuecomment-98696583
a few years ago, but sadly was closed without further comment / reasoning :cry: .

I hope this proposal here will be more successful.

I am right now patching `server.xml.erb` as follows:
[code]

This works perfectly fine, of course, configuration should be added for those choices (`virtio-scsi`, `write

[2018-07-12 06:30] olifre opened #55 "qemu-guest-agent support"
`server.xml.erb` is not very configurable right now.
Adding the lines:
[code]
allows `qemu-guest-agent` connectivity to the VM, which is crucial for `fsfreeze`, `trim` and other commands.
If this is present on VM creation, e.g. `RHEL 7.5` / `CentOS 7.5` systems install the guest agent with anaconda, and set up the Guest Agent Service automatically.

[2018-07-12 14:13] plribeiro3000 commented on #55
Hello @olifre . Would you be up to open a PR adding it?

[2018-07-12 14:14] plribeiro3000 commented on #54
@olifre Sorry about the original PR. Would you be up to open a PR with this change?

[2018-07-12 14:20] olifre commented on #55
Hi @plribeiro3000 ,
the question is whether adding it (without configurability) is fine - this I could do easily.
But adding a configuration flag requires an API change (I think?) and deeper knowledge of ruby than I currently have...
Cheers,
Oliver

[2018-07-12 14:22] plribeiro3000 commented on #55
I do have the knowledge of how fog works and ruby but do not have much about libvirt.

Maybe you can open a PR and we can iterate over it? WDYT?

[2018-07-12 14:23] olifre commented on #54
A PR with this change is easy for me, but there are two problems:
- This patch requires `/etc/foreman/ceph.conf` for full functionality, so I think this should be added in the documentation. I could also do that.
- There are some choices made here, such as using `virtio-scsi`, activating `discard` (which is a very good idea with the RBD backend) and activating `writeback`. However, people may want

[2018-07-12 14:24] olifre commented on #55
Yes, I could do that - I think I will have time in the upcoming weekend ;-).
For this feature here, a simple "on / off" would probably be sufficient (and my feeling would be that default-on is better).

[2018-07-12 14:25] plribeiro3000 commented on #55
Coolio!

[2018-07-31 14:38] johanneskastl opened #58 "Change dependency on fog-core to something recent"
Currently there is a [requirement for fog-core](https://github.com/fog/fog-libvirt/blob/d8ea91406b43f9efbc2e1d267242c6d15fc1fb19/fog-libvirt.gemspec#L28) in an ancient version:

Could this be changed to something more recent? 1.27.4 is from "26 Jan 2015", currently there is 2.1.0...

Kind Regards,
Johannes

[2019-01-02 14:56] sirtuxalot opened #63 "Failure during ansible provisioning"
I have posted this on the gentoo forums (the OS in use) and the vagrant issue tracker with no responses, so I thought I would come straight to the source of the issue.

As I mentioned, I am using the gentoo OS along with vagrant 2.2.2 using KVM/qemu/libvirt for virtualization.  The vagrant box gets spun up well enough, but I seem to have a small issue, and a large issue.  The small issue just seem

[2019-06-04 06:27] lzap commented on #12
Unable to reproduce with vagrant-2.2.4-2.fc30 both active and inactive are listed correctly now.

[2019-07-18 11:19] #6 closed

[2019-08-27 14:02] strzibny commented on #58
Yes, I agree we should move to something more recent.

[2019-09-15 17:10] johanneskastl commented on #58
OK, can we merge this then? Or what is missing to get that done?

[2019-09-15 19:37] strzibny commented on #58
I checked that fog-core was already relaxed no? So closing this. We can continue discussing fog-xml in the #66.

[2019-09-15 19:37] #58 closed

[2019-10-06 17:29] #55 closed

[2019-10-28 12:11] #54 closed

[2020-03-17 17:53] jaxi opened #70 "cloud-init iso using mkisofs"
Annoyingly MacOS does not support genisoimage. Given the behaviour between mkisofs and genisoimage is identical (on CentOS 8 it's mkisofs is even symlinked to genisoimage), it will really be useful to use mkisofs as a fallback of genisoimage.

I created a pull request on https://github.com/fog/fog-libvirt/pull/69. Happy to discuss about it!

[2020-04-05 01:21] apatelKmd commented on #7
Hey, @plribeiro3000 Is the issue planned for the near future?

[2020-04-05 16:37] plribeiro3000 commented on #7
@apatelKmd woukd tou bem able to open a PR ?

[2020-04-06 10:52] apatelKmd commented on #7
@plribeiro3000 Thanks for getting back. I am new to the project and willing to learn and contribute. I have consulted the CONTRIBUTION.md and the source code.
I see that the `:autostart` as an attribute of the `server.rb` file but not used anywhere else.

Further investigation of `ruby-libvirt-0.7.1/ext/libvirt/domain.c` reveals methods exposed by the library.

I am having trouble with the startin

[2020-04-06 11:00] geemus commented on #7
Querying the domain for an autostart value sounds like a request. And then checking the boolean and making the appropriate call sounds like something for the model. I'm not at all familiar with libvirt though. Does that help point you in the general direction?

[2020-04-06 11:12] plribeiro3000 commented on #7
@apatelKmd Its just like @geemus said.
The calls to `libvirt-ruby` should be encalsulated in a request together with parsing the response and generating the parameters.

Any other logic should fall in a model.

[2020-04-06 11:50] apatelKmd commented on #7
Awesome, I think your inputs are helpful.

[2020-04-06 14:51] alvinstarr opened #72 "Adding Xen support."
fog-libvirt is currently tuned to work with KVM.
With a few changes to the templates  and domain I have been able to use my foreman install to manage my Xen/libvirt based VMs.
What are the chances of altering the templates to support Xen or allowing an alternate source of templates?

[2020-04-06 19:25] apatelKmd commented on #7
FYI, @geemus and @plribeiro3000 I have opened a pull request to receive early feedback. https://github.com/fog/fog-libvirt/pull/73

[2020-04-17 00:29] #7 closed

[2020-04-23 10:14] electrofelix opened #74 "volume filters always returns volume object when no match found"
In trying to understand why the following piece of code https://github.com/hpe-hcss/authorization/blob/master/api/openapi-spec/authorization-broker-v1alpha2.yml#L120 always works, as in if there is no match found when using the filter argument to `volumes.all()` at https://github.com/fog/fog-libvirt/blob/master/lib/fog/libvirt/models/compute/volumes.rb#L10-L12, why would we be able to check the re

[2020-06-01 10:58] plribeiro3000 commented on #72
@alvinstarr Have you seen [`fog-xenserver`](https://github.com/fog/fog-xenserver)?

I think that we should also support it here since libvirt does support it. Would you open a PR with your changes?

[2020-06-05 20:18] stove-panini opened #76 "Q35 chipset support?"
Hi, I'm using this gem by way of Foreman's libvirt provider. I'm having trouble figuring out a non-hacky way to create a machine based on the newer Q35 chipset. Currently, I'm simply editing [server.xml.erb](https://github.com/fog/fog-libvirt/blob/master/lib/fog/libvirt/models/compute/templates/server.xml.erb) and adding `machine='q35'` into the `<os><type>` key and switching the IDE cdrom for a S

[2020-06-09 19:03] plribeiro3000 commented on #76
@stove-panini What exactly are you not finding? How to get the current chipset through `fog-libvirt` or how to pass the value to the `server.xml.erb` file?

[2020-06-09 19:05] stove-panini commented on #76
@plribeiro3000 I'd like to pass the value to `server.xml.erb`

[2020-06-09 19:17] plribeiro3000 commented on #76
Hmmm. I don't blame you. it is kind of a mess here.

So all models include `Fog::Libvirt::Util` which should be defined at `fog/libvirt/util.rb` but is instead defined at `fog/libvirt/models/compute/util/util.rb`.

This mixin has a method called `to_xml` defined [here](https://github.com/fog/fog-libvirt/blob/fa5e98aa0270786025fa64d3a21efd66e1907fd8/lib/fog/libvirt/models/compute/util/util.rb#L19-L

[2020-06-24 14:40] alvinstarr commented on #72
xenserver uses a  different configuration scheme than libvirt so fog-xenserver is not that helpful.
I have created a PR and hopefully this will get integrated into Foreman.

[2020-12-01 11:12] ares commented on #24
Should be fixed by https://github.com/fog/fog-libvirt/pull/78

[2020-12-01 21:54] plribeiro3000 commented on #24
Cool. Thanks @ares

[2021-01-05 21:05] #24 closed

[2021-01-22 11:17] eighthave opened #81 "0.8.0 missing from github release, also changelog"
I see that v0.8.0 was tagged, but it isn't listed on GitHub Releases with a changelg

[2021-06-04 08:09] electrofelix commented on #74
This is fixed, while now you can get a nil item added, it's consistent as the path to return a single volume above it also can return a nil item. So the same filter works for both.

[2021-06-04 08:09] #74 closed

[2021-06-04 09:04] eighthave commented on #81
0.8.0 is still not listed in the releases

[2021-06-04 09:09] ekohl commented on #81
Now https://github.com/fog/fog-libvirt/releases/tag/v0.8.0 is there.

[2021-06-04 09:09] #81 closed

[2021-06-04 09:30] electrofelix commented on #12
I'd forgotten this issue.

The fix appears to be a relatively simple one in changing to check if the pool is active before retrieving the number of volumes:
[code]

Question is, what's the impact?

Right now it's not possible to list inactive pools without going directly to the client and checking if the pool that is of interest needs to be made active. It's possible that some code will be surpris

[2021-06-04 09:33] #10 closed

[2021-06-04 10:18] ekohl commented on #76
I opened https://github.com/fog/fog-libvirt/pull/94 which should make it easier to fix this.

[2021-06-04 10:35] electrofelix commented on #12
The solution in the case of only listing inactive if requested instead of patching to include by default is as follows:
[code]

While I can test this by hand it might take me a little while to work out how to add shindo tests to ensure the correct behaviour.

[2021-06-04 17:51] electrofelix commented on #12
So based on the above change what I really need to test is that the functionality of https://github.com/fog/fog-libvirt/blob/783e7fa7cdf3ba34cf826e81e03848cd17b686c9/lib/fog/libvirt/requests/compute/list_pools.rb#L19-L46 handles various pool objects as returned by calling `client.lookup_storage_pool_by_name()` and `client.lookup_storage_pool_by_uuid()` in functions `find_pool_by_name` and `find_po

[2021-06-10 14:48] lzap commented on #12
The proposed change via a filter argument looks good to me.

Looking into tests is on my TODO, I haven't worked with Shindo yet. Maybe @geemus would have an advice how to approach testing in this case?

[2021-06-10 17:45] electrofelix commented on #12
@geemus I've put up #95 to act as a discussion point for how to better write tests for this.

I don't think it's quite doing the right approach with regards to how to test, but it does show that the general concept of the filter approach should work.

[2021-06-12 02:11] #70 closed

[2021-06-12 02:11] #72 closed

[2021-06-12 02:11] #63 closed

[2021-06-12 02:12] #53 closed

[2021-06-12 02:12] #41 closed

[2021-06-12 02:12] #36 closed

[2021-06-12 02:12] #28 closed

[2021-06-12 02:12] #13 closed

[2021-06-12 02:12] #5 closed

[2021-06-12 02:12] #4 closed

[2021-06-16 11:26] lzap commented on #12
Thanks for that.

Sidenote: I would love to have real tests as well, fixtures are nice but a real test against a libvirt session is a real test. We would not be able to run them on our CI however ability to run them locally would increase our confidence. That is just a wish, this is outside of your scope indeed.

[2021-06-16 19:20] geemus commented on #12
Agreed. I like having the mocks (partly to aide in CI/testing, partly because they are useful for end users when they are doing testing), but I always prefer to back them up with real tests that can be run to double-check stuff.

[2021-08-18 11:33] electrofelix commented on #12
Hoping to get back to this sometime next month, is that enough to stall the inactivity bot?

[2021-08-18 11:36] ekohl commented on #12
Not sure but I removed the label so I think so?

[2021-08-18 19:15] geemus commented on #12
Yeah, I think comments will reset the timer. You can also use a `pinned` tag to have it ignore the timer, I think, but I find in most cases having it ping every once in a while (as long as a comment restarts it) can help keep things fresh and in mind.

[2021-10-26 12:13] ekohl opened #108 "Disable stale bot?"
I think this does more harm than good. I felt this way for a long time but https://drewdevault.com/2021/10/26/stalebot.html inspired me to open an issue.

[2021-11-08 11:26] lzap commented on #108
I have no objection, this is on @fog/fog-libvirt owners tho.

[2021-11-08 12:26] strzibny commented on #108
I am not against keeping issues opened. Not sure how to change the settings for it.

[2021-11-08 13:25] geemus commented on #108
I can certainly change it if you all want. In my experience most issues that are not addressed or commented on after 60 days simply don't get addressed or commented on, so it doesn't seem harmful to me to close them as being something the community is not currently interested in engaging with. Particularly as closed issues can still be searched for and/or re-opened if that changes. You can also ad

[2022-02-18 14:37] idl0r opened #110 "list_domains:domains_volumes only parses <source file=...>"
Hi,

https://github.com/fog/fog-libvirt/blob/f2f75f0e493351a4cfecd269bbd3c4bb92a27fa6/lib/fog/libvirt/requests/compute/list_domains.rb#L42

that parses only definitions like:
[code]

However, there's also "dev" (type block) which seams to be valid as well?
[code]

The latter isn't covered by the above mentioned request.

volumes/volume_path would be nil then.

[2022-04-28 07:07] idl0r commented on #110
Uhm, please disable that bot until someone looked at it?

[2022-04-29 01:44] #108 closed

[2022-05-19 12:58] electrofelix opened #115 "Question: Current use of filters in requests can result in test code being unable to exercise behaviour"
A number of the requests support filters that change how libvirt is queried for the various resources:
https://github.com/fog/fog-libvirt/blob/7e534d173dabcd7810b126241091ba91f23f9603/lib/fog/libvirt/requests/compute/list_domains.rb#L4-L28

Corresponding Mock:
https://github.com/fog/fog-libvirt/blob/7e534d173dabcd7810b126241091ba91f23f9603/lib/fog/libvirt/requests/compute/list_domains.rb#L97-L103

[2022-06-15 12:08] ares opened #118 "Ask for merge and release permissions"
A set of issues was reported on Foreman project with recent version of libvirt. Some have even fixing PRs here, e.g. https://github.com/fog/fog-libvirt/pull/116

I know this gem was maintained more actively, but I suppose it falls under similar category as other adapters, @geemus if you wouldn't object, we'd like to get merge permissions and release ownership on rubygems so we could restore the co

[2022-06-17 20:56] geemus commented on #118
Yes, I think that sounds reasonable. I think I just need your Rubygems associated email addresses.

Could share them with me by email (it's my username  at gmail) so you all don't have to post them here?

Thanks.

[2022-06-20 12:15] ekohl commented on #118
I've sent you an email, also with the request to add https://rubygems.org/profiles/theforeman so the Foreman project admins have a fallback. Relying on individuals can be tricky. The only downside is that that account has no 2FA.

[2022-06-21 02:12] geemus commented on #118
@ekohl Great, thanks. I've invited both as owners, so I think they should work once confirmed.

[2022-06-21 08:41] ekohl commented on #118
I see both icons on https://rubygems.org/gems/fog-libvirt so I think we can close this out. Thanks!

[2022-06-21 08:41] #118 closed

[2022-06-21 10:07] ares commented on #118
Thank you @geemus!

[2022-11-30 23:57] electrofelix commented on #118
@ekohl does this mean a new release will be forthcoming? There is a fix merged since the last release that would be nice to see in a release as it will fix the destroy behaviour when nvram is enabled for vagrant-libvirt https://github.com/vagrant-libvirt/vagrant-libvirt/issues/1371